* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #c0e4fc;
}

section {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.card {

    width: 250px;
    min-height: 250px;
    background: white;
    margin: 70px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    background-size: 100% 150px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0.1px;
}

.card__person {
    background-image: url("../img/avatar-wan.png");
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 105px auto;
    border-radius: 50%;
    overflow: hidden;
}

.card__name {

}